div.status-change.bg-gray-50.rounded-lg.p-3.text-gray-600.text-sm.italic.border-l-4.border-yellow-400.slide-down
  | Status changed from #{status_change.old_status.titleize} to #{status_change.new_status.titleize} 
